.generated-token-wrapper {
  display: flex;
  align-items: center;
  width: min-content;
  padding: 5px 15px;
  column-gap: 20px;
  border: 2px solid #e2e2e7;
  border-radius: 8px;
  overflow-wrap: break-word;
}

.generated-token-wrapper p {
  color: #585858;
}

.generated-token-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 5px 10px;
  column-gap: 5px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #00875f;
  font-weight: 500;
}

.generated-token-wrapper button:hover {
  background-color: #007351;
}

.generated-token-wrapper button::after {
  display: inline-block;
  margin-top: 4px;
  content: url("../icons/copy.svg");
}

[data-tooltip] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

[data-tooltip]::before,
[data-tooltip]::after {
  position: absolute;
  z-index: 99;
  bottom: 150%;
  left: 50%;
  visibility: hidden;
  transition: all 0.1s linear;
  transform: translateY(-6px);
  opacity: 0;
}

[data-tooltip]::before {
  margin-bottom: -7px;
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #444140;
}

[data-tooltip]::after {
  height: 22px;
  margin-bottom: 5px;
  margin-left: -20px;
  padding: 8px 8px 4px;
  content: attr(data-tooltip);
  white-space: nowrap;
  color: #ecf0f1;
  border-radius: 8px;
  background-color: #444140;
  font-size: 14px;
}

[data-tooltip].show::before,
[data-tooltip].show::after {
  visibility: visible;
  opacity: 1;
}
