<div class="generated-token-wrapper"/>
  <p id="token-raw-value">{{ token }}</p>
  {# @todo: add event from JS script rather than calling it from the DOM #}
  {# cSpell:disable #}
  <button id="ctcb-btn" onClick="copyToClipboard(event)">
  {# cSpell:enable #}
    <span id="tooltip" data-tooltip="Copied!">{{ 'Copy to clipboard' | t }}</span>
  </button>
</div>
